.country-container {
  border: 2px solid skyblue;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
.country-container-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.visit-country {
  background-color: skyblue;
}
